.innerdiv0{
    width: 100px;
    height: 50px;
    background-color: black;
    border: 1px solid gold;
}
.innerdiv0_0{
    background-color: brown;
    width: 50px;
    height: 50px;
}
.innerdiv1{
    width: 100px;
    height: 50px;
    background-color: red;
    margin-left: 100px;
}
.innerdiv0_1{
    background-color: blueviolet;
    width: 50px;
    height: 50px;
}
.innerdiv2{
    width: 100px;
    height: 50px;
    margin-left: 200px;
    background-color: blue;
}
.innerdiv0_2{
    background-color: paleturquoise ;
    width: 50px;
    height: 50px;
}
.innerdiv3{
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    margin-left: 300px;
}
.innerdiv0_3{
    background-color: goldenrod ;
    width: 50px;
    height: 50px;
}
.innerdiv4{
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    margin-left: 400px;
}
.innerdiv0_4{
    background-color: olive;
    width: 50px;
    height: 50px;
}
.innerdiv5{
    width: 100px;
    height: 50px;
    margin-left: 500px;
    background-color: green;
}
.innerdiv0_5{
    background-color: orange ;
    width: 50px;
    height: 50px;
}
.innerdiv6{
    width: 100px;
    height: 50px;
    background-color: royalblue;
    margin-left: 600px;
}
.innerdiv0_6{
    background-color: beige ;
    width: 50px;
    height: 50px;
}
.innerdiv7{
    width: 100px;
    height: 50px;
    background-color: rosybrown;
    margin-left: 700px;
}
.innerdiv0_7{
    background-color: lightgreen ;
    width: 50px;
    height: 50px;
}
.innerdiv8{
    width: 100px;
    height: 50px;
    margin-left: 800px;
    background-color: aqua;
}
.innerdiv0_8{
    background-color: palevioletred;
    width: 50px;
    height: 50px;
}
.innerdiv9{
    width: 100px;
    height: 50px;
    background-color: burlywood;
    margin-left: 900px;
}
.innerdiv0_9{
    background-color: lightskyblue ;
    width: 50px;
    height: 50px;
}
.innerdiv10{
    width: 100px;
    height: 50px;
    background-color: lightcoral;
    margin-left: 1000px;
}
.innerdiv0_10{
    background-color: darkorange ;
    width: 50px;
    height: 50px;
}
.innerdiv11{
    width: 100px;
    height: 50px;
    background-color: goldenrod;
    margin-left: 1100px;
}
.innerdiv0_11{
    background-color: grey ;
    width: 50px;
    height: 50px;
}


  